---
import { getI18N } from "@/shared/i18n";
import SpainFlag from "@/shared/components/flags/Spain.astro"
import FrenchFlag from "@/shared/components/flags/French.astro"
import UkFlag from "@/shared/components/flags/UkFlag.astro"
import ItalianFlag from "@/shared/components/flags/Italy.astro"
import GermanyFlag from "@/shared/components/flags/Germany.astro"
import ChevronIcon from "@/shared/components/icons/ChevronBlack.astro"

const { currentLocale = "en", url, props } = Astro
const { language } = props

const i18n = getI18N({ language });
const pathname = url.pathname
const key = Object.keys(i18n.PAGES).find((key) => {
  const page = i18n.PAGES[key]
  return page?.ROUTE?.URL === pathname
}) || "HOME"

const LOCALES: Record<
  string,
  { code: string; name: string; href: string; flag: typeof SpainFlag }
> = {
  en: {
    code: "en",
    href: `https://www.porticosport.com${getI18N({ language: "en" }).PAGES?.[key]?.ROUTE?.URL}`,
    name: "English",
    flag: UkFlag,
  },
  es: {
    code: "es",
    href: `https://www.porticosport.es${getI18N({ language: "es" }).PAGES?.[key]?.ROUTE?.URL}`,
    name: "Español",
    flag: SpainFlag,
  },
  fr: {
    code: "fr",
    name: "French",
    href: `https://www.porticosport.fr${getI18N({ language: "fr" }).PAGES?.[key]?.ROUTE?.URL}`,
    flag: FrenchFlag,
  },
  /*it: {
    code: "it",
    name: "Italian",
    href: `https://www.porticosport.it${getI18N({ language: "it" }).PAGES?.[key]?.ROUTE?.URL}`,
    flag: ItalianFlag,
  },*/
  de: {
    code: "de",
    name: "Germany",
    href: `https://www.porticosport.de${getI18N({ language: "de" }).PAGES?.[key]?.ROUTE?.URL}`,
    flag: GermanyFlag,
  },
}

const currentLocaleData = LOCALES[currentLocale]
const otherLocales = Object.values(LOCALES).filter(
  (locale) => locale.code !== currentLocale
)
const currentPath = url.pathname.replace(currentLocaleData.href, "")
---
<div class="relative inline-block text-left">
  <div
    class="group text-black rounded-md text-xs font-semibold bg-white transition-all"
  >
    <button
      type="button"
      class="inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
      aria-expanded="true"
      aria-haspopup="true"
    >
      <currentLocaleData.flag />
      <ChevronIcon />
    </button>
    <ul
      class="group-hover:block group-hover:animate-fade-down group-hover:animate-duration-200 hidden pt-0.5 absolute w-full"
    >
      {
        otherLocales.map((locale) => (
          <li class="">
            <a
              class="rounded-md bg-white/70  hover:bg-white/30 whitespace-no-wrap inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
              href={`${locale.href}`}
            >
              <locale.flag />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
