---
import { getI18N } from "@/shared/i18n";
import NewsItem from "./NewsItem.astro";
import Section from "@/shared/components/Section.astro";

const { heading, posts, subheading, language } = Astro.props;
const i18n = getI18N({ language })

interface Props {
  heading?: string;
  subheading?: string;
  posts: any[];
  language: string;
}
---

<Section
  heading={heading || i18n.NEWS.LIST.TITLE}
  subheading={subheading || i18n.NEWS.LIST.SUBTITLE}
>
  <div class="list flex flex-col gap-16 lg:flex-row lg:gap-8">
    {
      posts.map((post) => (
        <NewsItem
          title={post.title.rendered}
          image={
            post._embedded?.["wp:featuredmedia"]?.[0]?.["media_details"]?.["sizes"]?.["medium"]?.["source_url"]
          }
          link={`news/${post.slug}`}
          date={post.date}
          description={post.description}
        />
      ))
    }
  </div>
</Section>

<style>
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
</style>
