---
import Chevron from './icons/Chevron.astro';

interface Props {
  page: number;
  totalPages: number;
  principalRoute: string;
}

const { page, totalPages, principalRoute  } = Astro.props

const array = new Array(totalPages).fill(0).map((_, i) => i + 1)
---

<nav aria-label="Page navigation" class="flex items-center justify-center mb-14">
  <ul class="inline-flex -space-x-px text-base h-10">
    <li>
      {
        page === 1 || page === 0
          ? <span class="text-white flex items-center justify-center px-4 h-10"><Chevron className="rotate-90" /></span>
          : <a
              href={page - 1 === 1 ? principalRoute : `?page=${page - 1}`}
              class="text__glowing flex items-center justify-center px-4 h-10"
              ><Chevron className="rotate-90" /></a>
      }
    </li>

    {
      array.map((i) => (
        <li>
          {
            i === page ? <span class="text-white flex items-center justify-center px-4 h-10">{i}</span> :
            <a
              href={i === 1 ? principalRoute : `?page=${i}`}
              aria-current={i === page ? 'page' : undefined}
              class={`${i === page ? 'text-primary bg-black/25' : 'text__glowing transition-colors'} flex items-center justify-center px-4 h-10`}
              >{i}</a>
          }
        </li>
      ))
    }
    <li>
      {
        page === totalPages
          ? <span class="text-white flex items-center justify-center px-4 h-10"><Chevron className="-rotate-90" /></span>
          : <a
              href={`?page=${page + 1}`}
              class="text__glowing transition flex items-center justify-center px-4 h-10 hover:scale-110"
              ><Chevron className="-rotate-90" /></a>
      }
    </li>
  </ul>
</nav>
