<div class="w-96 p-2 border-white border flex flex-col text-white justify-center items-center font-sans">
  <img src="/logoeu.png" alt="Unión europea" loading="lazy" width="120" class="border-2 border-white" />
  <span class="font-bold text-base pb-1">UNIÓN EUROPEA</span>
  <p class="text-xs mb-0">La empresa Portico Gestión e Ingeniería S.L ha incrementado su capacidad productiva logrando mayor competencia y productividad mediante la construcción de una nueva planta productiva en Villafranca de los Barros, correspondiente al expediente BA-1212-P11, cuya inversión ha sido subvencionada por la línea de ayudas de Incentivos Regionales. Dicha ayuda ha sido confinanciada por el Fondo Europeo de Desarrolo Regional.</p>
  <span class="text-center p-2 text-xl bg-[#003399] text-[#FFCC00] w-full mt-2">Una manera de hacer Europa</span>
</div>