<div class="w-96 h-[308px] p-2 border-white border flex flex-col text-white justify-center items-center font-sans">
    <img src="/logos/cabecera.png" alt="Unión europea" loading="lazy"  />

    <p class="text-xs mb-10 mt-10">La empresa Portico Gestión e Ingeniería S.L ha incrementado su capacidad productiva logrando mayor competencia y
        productividad mediante la construcción de una nueva planta productiva en Villafranca de los Barros, correspondiente al
        expediente BA-1212-P11, cuya inversión ha sido subvencionada por la línea de ayudas de Incentivos Regionales. Dicha
        ayuda ha sido cofinanciada por el Fondo Europeo de Desarrollo Regional.</p>
        <div class="grid grid-cols-4 gap-4 w-full">
            <img src="/logos/es_co-fundedbytheeu_rgb_neg.png" alt="Unión europea" loading="lazy" />
            <img src="/logos/logo_hacienda.png" alt="Unión europea" loading="lazy" />
            <img src="/logos/logotipo_ffee_neg_2_lineas.png" alt="Unión europea" loading="lazy" />
            <img src="/logos/Logo_footer_consejeria_economia-1.png" alt="Unión europea" loading="lazy" />
        </div>

    </div>
