---
import LogoFep from "@/shared/components/logos/LogoFep.astro";
import LogoHexagonCup from "@/shared/components/logos/LogoHexagonCup.astro";
import LogoRepsol from "@/shared/components/logos/LogoRepsol.astro";
import LogoEvenPadel from "@/shared/components/logos/LogoEvenPadel.astro";
import LogoMinds from "@/shared/components/logos/LogoMinds.astro";
import Section from "@/shared/components/Section.astro";
import Typography from "../ui/Typography.astro";
import { getI18N } from "@/shared/i18n";

const { language } = Astro.props
const i18n = getI18N({ language })
---
<Section heading2={i18n.INFINITE_SCROLL.TITLE} >
<Typography tag="p" type="primary" className="text-center" text={i18n.INFINITE_SCROLL.SUBTITLE}/>

  <div class="logos items-center">
    <a href="https://www.hexagoncup.com/" target="_blank"><LogoHexagonCup /></a>
     <a href="https://www.padelfederacion.es/" target="_blank"><LogoFep /></a>
     <a href="https://evenpadel.com/" target="_blank"><LogoEvenPadel /></a>
     <a href="https://www.repsol.com/" target="_blank"><LogoRepsol /></a>
     <a href="https://www.mindspringpadel.com/" target="_blank"><LogoMinds /></a>
     <a href="https://www.clusterpadel.com/" target="_blank"><img src="/logos/cluster-internacional-padel.webp" alt="Cluster internacional de padel" class="invert w-[168px]" /></a>
      
  </div>
</Section>
<style>
  .logos {
    display: grid;
    scale:75%;
    grid-template-columns: repeat(3,minmax(120px,1fr));
    gap:4rem;
  }

  @media (max-width: 768px) {
    .logos {
      grid-template-columns: repeat(2,minmax(100px,1fr));
    }
  }
  @media (max-width: 420px) {
    .logos {
      grid-template-columns: repeat(2,minmax(80px,1fr));
    }
  }
</style>
  




