---
import Section from "@/shared/components/Section.astro";
import Typography from "@/shared/components/ui/Typography.astro"
import Faqs from "@/shared/components/ui/Faqs.astro"

import { getI18N } from "../../i18n";

const { language, items, title, subtitle } = Astro.props
const i18n = getI18N({ language })
---

<Section id={i18n.PAGES.HOME.FAQS_SECTION.ID} className="text-center"
  heading2 = {title || i18n.PAGES.HOME.FAQS_SECTION.TITLE} 
subheading ={subtitle || i18n.PAGES.HOME.FAQS_SECTION.SUBTITLE} >  
<Faqs items={items} />
</Section>
