---
import Section from "@/shared/components/Section.astro"
import { getI18N } from "@/shared/i18n/"

const { language } = Astro.props
const i18n = getI18N({ language })
---

<Section id={i18n.PAGES.FACTORY.ID} heading2={i18n.PAGES.FACTORY.FACTORY_SECTION.PREFOOTER_VIDEO_TITLE} subheading={i18n.PAGES.FACTORY.FACTORY_SECTION.PREFOOTER_SUBTITLE}>
  <lite-youtube
    class="rounded-xl shadow-2xl shadow-white/10 mt-24"
    videoid="V_oUFrwMvWc"
    videotitle={i18n.PAGES.FACTORY.FACTORY_SECTION.PREFOOTER_VIDEO_TITLE}></lite-youtube>
</Section>

<script>
  import "@justinribeiro/lite-youtube"
</script>
