---
import LogoHexagonCup from "@/shared/components/logos/LogoHexagonCup.astro";
import LogoRepsol from "@/shared/components/logos/LogoRepsol.astro";
import LogoEvenPadel from "@/shared/components/logos/LogoEvenPadel.astro";
import LogoMinds from "@/shared/components/logos/LogoMinds.astro";
import Section from "@/shared/components/Section.astro";
import Typography from "../ui/Typography.astro";
import { getI18N } from "@/shared/i18n";

const { language } = Astro.props
const i18n = getI18N({ language })
---
<Section heading2={i18n.INFINITE_SCROLL.TITLE} className="lg:p-10" style=" color:black; background-color: white; border-radius: 12px;">
<Typography tag="p" type="black" className="text-center mb-2 sm:mb-10 xs:mb-16" style="font-weight: bold;" text={i18n.INFINITE_SCROLL.SUBTITLE}/>

  <div class="logos items-center">
     <a href="https://www.hexagoncup.com/" target="_blank" ><img src="/logos/ALPINExHEXAGON-FINAL2025-14.png" alt="Hexagon Padel Club" /></a>
     <a href="http://www.headpadel.com/"><img src="/Head-logo.png" /> </a>
     <a href="https://www.repsol.com/" target="_blank" ><LogoRepsol /></a>
     <a href="https://evenpadel.com/" target="_blank"class="grayscale invert"><LogoEvenPadel /></a>
     <a href="https://www.mindspringpadel.com/" target="_blank" ><img src="/logos/mindspringpadel_logo.svg" alt="Mindspring Padel" /></a>
     <a class="cluster" href="https://www.clusterpadel.com/" target="_blank" ><img src="/logos/cluster-internacional-padel.webp" alt="Cluster internacional de padel" class=" w-[168px]" /></a>
      
  </div>
</Section>

<style>
  .logos {
    display: grid;
    grid-template-columns: repeat(6,minmax(130px,1fr));
    gap:2rem;
    
  }
.cluster img {
width:400px;
}
  @media (max-width: 768px) {
    .logos {
      grid-template-columns: repeat(2,minmax(100px,1fr));
    }
  }
  @media (max-width: 420px) {
    .logos {
      grid-template-columns: repeat(2,minmax(80px,1fr));
    }
  }
</style>
  
