---
import LogoFep from "@/shared/components/logos/LogoFep.astro";
import LogoHexagonCup from "@/shared/components/logos/LogoHexagonCup.astro";
import LogoRepsol from "@/shared/components/logos/LogoRepsol.astro";
import LogoEvenPadel from "@/shared/components/logos/LogoEvenPadel.astro";
import Typography from "../ui/Typography.astro";
import LogoMind from "@/shared/components/logos/LogoMinds.astro";
import Section from "@/shared/components/Section.astro";
import { getI18N } from "@/shared/i18n";

const { language } = Astro.props
const i18n = getI18N({ language })
---

<Section
  heading2 ={i18n.INFINITE_SCROLL.TITLE} subheading={i18n.INFINITE_SCROLL.SUBTITLE}>
  <div class="scroller">
    <ul class="tag-list scroller_inner items-center">
            <li><LogoHexagonCup /></li>
            <li><LogoFep /></li>
            <li><LogoEvenPadel /></li>
    </ul>
      <ul class="row2 tag-list scroller_inner items-center">
      <li><LogoMind /></li>
      <li><LogoRepsol /></li>
      <li><img src="/logos/cluster-internacional-padel.webp" alt="Cluster internacional de padel" class="invert w-[168px]" /></li>
    </ul>
  </div>
</Section>

<style>
.tag-list {
  list-style: none;
  margin: 0;
  padding-inline: 0;
}
.tag-list li {
  padding: 1rem;
  margin: 0 10px;
  background: current;
  position: relative;
  min-width: 150px;
}
.row2{
  margin-left: 2rem;
}
.scroller {
  max-width: calc(100% - 1px);
  display: grid;
  
}

.scroller_inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  justify-content: center;
}
@media (max-width: 550px){
  .row2{
    margin-top: 10rem;
  }
}
</style>


