---
// import LogoLedProjects from "@/shared/components/logos/LogoLedProjects.astro";
import LogoKuka from "@/shared/components/logos/LogoKuka.astro";
import LogoMondo from "@/shared/components/logos/LogoMondo.astro";
import LogoEvenPadelWhite from "@/shared/components/logos/LogoEvenPadelWhite.astro";
import LogoArcelorMittal from "@/shared/components/logos/LogoArcelorMittal.astro";
import LogoHexagonCupWhite from "@/shared/components/logos/LogoHexagonCupWhite.astro";
import LogoJutagrass from "@/shared/components/logos/LogoJutagrass.astro";
import LogoFutwallWhite from "@/shared/components/logos/LogoFutwallWhite.astro";
import Section from "@/shared/components/Section.astro";
---

<Section className="max-w-none relative">
  <div class="absolute top-0 bottom-0 -z-10 w-full left-0 opacity-50 border-t border-primary bg-cover bg-top saturate-50 blur-sm" style="background-image: url('/bg-turf-2.webp')" />
  <ul class="partner-logos-wrapper gap-8 items-center mx-auto max-w-5xl">
    <!-- <li><LogoLedProjects /></li> -->
    <li><LogoKuka /></li>
    <li><LogoMondo /></li>
    <li><LogoEvenPadelWhite /></li>
    <li><LogoArcelorMittal /></li>
    <li><LogoHexagonCupWhite /></li>
    <li><LogoFutwallWhite /></li>
    <li><LogoJutagrass /></li>
    <li><img src="/logos/silice-de-segovia.webp" alt="Sílices de segovia" loading="lazy" /></li>
    <li><img src="/logos/cluster-internacional-padel.webp" alt="Cluster internacional de padel" class="invert" loading="lazy" /></li>
    <li><img src="/logos/astiglass-logo.png" alt="Astiglass" loading="lazy" /></li>
  </ul>
</Section>

<style>
  .partner-logos-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
</style>