---
import Layout from "@/layouts/Layout.astro"
import Video from "@/components/Video.astro"
import Intro from "@/components/Intro.astro"
import Bento from "@/components/Bento.astro"
import PreFooter from "@/components/PreFooter.astro"
import Contact from "@/components/Contact.astro"
import Courts from "@/components/Courts.astro"

import { getI18N } from "@/i18n"
import Galeria from "../Galeria.astro"
import NewsList from "../NewsList.astro"
import GraphicProcess from "../GraphicProcess.astro"
import InfiniteScroll from "../InfiniteScroll.astro"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const response = await fetch("https://porticosport.com/wp-json/wp/v2/posts?per_page=4&_embed")
const posts = await response.json();
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  <link
    rel="preload"
    href="/fonts/jura.woff2"
    as="font"
    type="font/woff2"
    crossorigin
    slot="preload"
  />

  <Video />

  <main>
    <Intro />
    <GraphicProcess />
    <InfiniteScroll />
    <Courts />
    <Bento />
    <Galeria i18n={i18n} edicion="1" />
    <PreFooter />
    <NewsList posts={posts} />
    <Contact />
  </main>

</Layout>
