---
import { getI18N } from "@/i18n";
import BlogItem from "./blogItem.astro";
import Section from "@/components/Section.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const { title, posts } = Astro.props;

interface Props {
  title?: string;
  posts: any[];
}
---

<Section
  heading={title || i18n.BLOG.TITLE}
  subheading="Descubre nuestras últimas noticias"
>
  <div class="list flex flex-col gap-16 lg:flex-row lg:gap-8 my-24">
    {
      posts.map((post) => (
        <BlogItem
          title={post.title.rendered}
          image={
            post._embedded?.["wp:featuredmedia"]?.[0]?.["media_details"]?.["sizes"]?.["medium"]?.["source_url"]
          }
          link={`blog/${post.slug}`}
          date={post.date}
          description={post.description}
        />
      ))
    }
  </div>
</Section>

<style>
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
</style>
