---
import Section from "@/components/Section.astro"
import { getI18N } from "@/i18n/"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Section id={i18n.ROUTES.FACTORY.ID} heading={i18n.PREFOOTER_VIDEO_TITLE} subheading={i18n.PREFOOTER_SUBTITLE}>
  <lite-youtube
    class="rounded-xl shadow-2xl shadow-white/10 mt-24"
    videoid="V_oUFrwMvWc"
    videotitle={i18n.PREFOOTER_VIDEO_TITLE}></lite-youtube>
</Section>

<script>
  import "@justinribeiro/lite-youtube"
</script>
